server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:mopl;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false

  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    com.mopl.api: debug
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
    org.springframework.security: trace

management:
  endpoint:
    health:
      show-details: always
  info:
    env:
      enabled: true