###############################
#        OS & System
###############################
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.nfs*


###############################
#        IDE / Editors
###############################
# IntelliJ / IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VSCode
.vscode/
.history/
*.code-workspace

# Eclipse
.project
.classpath
.settings/
.eclipse/

# Project specific
.claude
.mopl


###############################
#        Java / Spring
###############################
target/
build/
bin/
logs/
*.log
*.hprof

# QueryDSL generated Q classes
**/generated/


###############################
#        Gradle
###############################
.gradle/
gradle-app.setting


###############################
#        Docker / Containers
###############################
docker-compose.override.yml
docker-data/
.docker/
*.pid
tmp/


###############################
#        AWS / Cloud
###############################
*.pem
*.key
*.ppk
.aws/


###############################
#        Terraform
###############################
.terraform/
terraform.tfstate
terraform.tfstate.*
crash.log
override.tf
override.tf.json


###############################
#        Logs & Temp Files
###############################
*.tmp
*.temp
*.swp
*.swo


###############################
#        Testing
###############################
.junit/
test-output/
node_modules/
package.json
package-lock.json


###############################
#        Security / Secrets
###############################
.env
.env.*
!.env.example
*.env.local
*.secret
secret.*
private.*
*.crt
*.csr


###############################
#        Misc
###############################
*.orig
*.old
