services:
  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - mopl-net

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      - prometheus
      - influxdb  # InfluxDB가 먼저 켜지도록 순서 보장
    networks:
      - mopl-net

  redis-exporter:
    image: oliver006/redis_exporter:v1.62.0
    container_name: redis-exporter
    command:
      - "--redis.addr=redis://mopl-redis:6379"
    ports:
      - "9121:9121"
    networks:
      - mopl-net
    depends_on:
      - prometheus

  influxdb:
    image: influxdb:1.8
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      - INFLUXDB_DB=k6  # 실행 시 'k6'라는 DB 자동 생성
    volumes:
      - influxdb-data:/var/lib/influxdb # 데이터 영구 저장
    networks:
      - mopl-net

networks:
  mopl-net:
    external: true
    name: mopl-net

volumes:
  grafana-data:
  influxdb-data: