server:
  shutdown: graceful

spring:
  main:
    web-application-type: none
  application:
    name: mopl-worker
  profiles:
    active: local
  config:
    import:
      - optional:file:.env[.properties]
      - jpa.yaml
      - kafka.yaml
      - logging.yaml
      - redis.yaml
  threads:
    virtual:
      enabled: true
