server:
  shutdown: graceful

spring:
  main:
    web-application-type: servlet
  application:
    name: mopl-api
  profiles:
    active: local
  config:
    import:
      - optional:file:.env[.properties]
      - jpa.yaml
      - security.yaml
      - storage.yaml
      - redis.yaml
      - cache.yaml
      - mail.yaml
  threads:
    virtual:
      enabled: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

logging:
  level:
    com.mopl.cache: DEBUG

mopl:
  admin:
    enabled: ${ADMIN_ENABLED:false}
    email: ${ADMIN_EMAIL:}
    name: 관리자
    password: ${ADMIN_PASSWORD:}

#===============================
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      probes:
        enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
      environment: ${SPRING_PROFILES_ACTIVE:local}
