server:
  port: 8081

spring:
  main:
    web-application-type: servlet
  application:
    name: mopl-websocket
  profiles:
    active: local
  config:
    import:
      - optional:file:.env[.properties]
      - jpa.yaml
      - security.yaml
      - storage.yaml
      - redis.yaml
      - cache.yaml
  threads:
    virtual:
      enabled: true
  #더미
  mail:
    username: dummy
    password: dummy
    host: localhost
    port: 25



  cache:
    type: redis

#===============================
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      probes:
        enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
      environment: ${SPRING_PROFILES_ACTIVE:local}
