server:
  port: 8081
  shutdown: graceful

spring:
  main:
    web-application-type: servlet
  application:
    name: mopl-websocket
  profiles:
    active: local
  config:
    import:
      - optional:file:.env[.properties]
      - cache.yaml
      - jpa.yaml
      - redis.yaml
      - security.yaml
      - storage.yaml
  threads:
    virtual:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      probes:
        enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
      environment: ${SPRING_PROFILES_ACTIVE:local}
