server:
  shutdown: graceful

spring:
  main:
    web-application-type: none
    keep-alive: true
  application:
    name: mopl-batch

  profiles:
    active: local

  config:
    import:
      - optional:file:.env[.properties]
      - jpa.yaml
      - storage.yaml
      - openapi.yaml

  threads:
    virtual:
      enabled: true

  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always
