spring:
  main:
    web-application-type: none
    keep-alive: true
  application:
    name: mopl-batch

  profiles:
    active: batch, local, cleanup-deletion-log

  config:
    import:
      - optional:file:.env[.properties]
      - jpa.yaml
      - logging.yaml
      - openapi.yaml
      - search.yaml
      - storage.yaml

  threads:
    virtual:
      enabled: true

  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always

mopl:
  batch:
    run-on-startup:
      enabled: false  # true로 변경하면 시작 시 아래 jobs 실행
      jobs:
        - tmdbGenreSyncJob
        - tsdbLeagueSyncJob
        - tmdbCollectJob
        - tsdbLeagueEventCollectJob
#        - softDeleteCleanupJob
#        - orphanCleanupJob
#        - orphanStorageCleanupJob
#        - denormalizedSyncJob
    cleanup:
      soft-delete:
        defaults:
          chunk-size: ${BATCH_CLEANUP_SOFT_DELETE_CHUNK_SIZE:500}
          retention-days: ${BATCH_CLEANUP_SOFT_DELETE_GRACE_PERIOD_DAYS:30}
        storage:
          chunk-size: ${BATCH_CLEANUP_SOFT_DELETE_STORAGE_CHUNK_SIZE:200}
      orphan:
        defaults:
          chunk-size: ${BATCH_CLEANUP_ORPHAN_CHUNK_SIZE:500}
          grace-period-days: ${BATCH_CLEANUP_ORPHAN_GRACE_PERIOD_DAYS:1}
      orphan-storage:
        defaults:
          chunk-size: ${BATCH_CLEANUP_ORPHAN_STORAGE_CHUNK_SIZE:100}
    collect:
      tmdb:
        defaults:
          max-page: ${BATCH_COLLECT_TMDB_MAX_PAGE:20}
      tsdb:
        defaults:
          sleep-ms: ${BATCH_COLLECT_TSDB_SLEEP_MS:300}
    sync:
      es:
        initial-enabled: ${BATCH_SYNC_ES_INITIAL_ENABLED:false}
        defaults:
          chunk-size: ${BATCH_SYNC_ES_CHUNK_SIZE:500}
      denormalized:
        defaults:
          chunk-size: ${BATCH_SYNC_DENORMALIZED_CHUNK_SIZE:100}
